*,
*::after,
*::before {
   box-sizing: border-box;
}
.simple-photo {
    width: 1280px;
    height: 1626px;
    margin: auto;
    padding: 0px;
    background-color: #FFF;
}
.container {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 78px;
    margin: 0px;
    padding-top: 0px;
}
.container-navbar {
    width: 620px;
    height: 15px;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    margin-left: 330px;
    margin-right: 330px;
}
.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin-bottom: 0;
}
.navbar-item-links {
    font-family:sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    list-style-type: none;
    color: #FF0000;
}
.links, .navbar-item-links {
    text-decoration: none;
    color: #FF0000;
}
.banner {
    width: 1280px;
    height: 789px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.section-banner {
    width: 1280px;
    height: 789px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.content {
    width: 1280px;
    height: 650px;
    left: calc(50% - 1280px/2);
    bottom: 108px;   
}
.represent-your-life {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
    width: 774px;
    height: 29px;
    margin-top: 48px;
    margin-left: 253px;
    margin-right: 253px;
    margin-bottom: 38px;
    line-height: 27px;
    padding: 0;
    color: #373737;
}
.represent-your-life-head {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
.content-first-paragraph {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1145px;
    height: 132px;
    margin-left: 67.5px;
    margin-top: 0px;
    margin-bottom: 14px;
    padding: 0px;
}
.content-first-paragraph-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 0px;
    color: #373737;
}
.content-second-paragraph {
    display: flex;
    width: 1145px;
    height: 216px;
    margin-left: 67.5px;
    margin-top: 14;
    padding: 0px;
    text-align: center;
    justify-content: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.content-second-paragraph-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}
.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 16px;
    left: 587px;
    top: 575px;
    margin-left: 544.5px;
    margin-right: 544.5px;
    padding: 0;

    width: 191px;
    height: 51px;
    margin-top: 66px;
    margin-bottom: 42px;

    background: #FF0000;
    border-radius: 4px;
}
.get-started-head {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.get-started-link {
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
}
.copyright {
    display: flex;
    justify-content: center;
    height: 108px;
    width: 1280px;
    margin: 0px ;
}
.footer-copyright {
    display: flex;
    height: 39px;
    width: 1280px;
    left: 713px;
    margin: 0px;
    padding: 0px;
}
.footer-copyright-container {
    display: flex;
    width: 462px;
    height: 39px;
    margin-left: 713px;
    margin-top: 0px;
    margin-right: 105;
    padding: 0px;
}
.copyright-text{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
    
